
/* firstSection.css */
.unified-search {
    display: flex;
    align-items: center;

    border-radius: 5px; /* Скругление */
    overflow: hidden; /* Для устранения зазоров между элементами */
    width: 100%;
    margin: 0 auto; /* Центрирование */
  }
  
  .unified-search__input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .unified-search__input[type="date"] {
    padding-left: 15px; /* Увеличенный отступ для даты */
  }
  
  .unified-search__button {
    background-color: #fe933b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .unified-search__button:hover {
    background-color: #0056b3;
  }
  
  .unified-search__button:active {
    background-color: #003f7f;
  }
  /* Стиль для выпадающего списка */
.dropdown {
  width: 18%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
 height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 5px;
  padding: 5px 0;
}

.dropdown-item {
  padding: 8px 16px;
  color: black;
}

.dropdown-item input {
  margin-right: 10px;
}

.unified-search__input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}

.unified-search__button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.unified-search__button:hover {
  background-color: #0056b3;
}
